.carrousel {
    height: 300px;
    position: relative;
    & img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        opacity: 0;
        object-fit: cover;
        }
    & .show{
        opacity: 1;
    }        
    .fa-solid {
        position: absolute;
        color: white;
        font-size: 25px;
        top: 45%;
    }
    .leftarrow {            
        transform: rotate(270deg);
        left: 1%;
            
    }
    .rightarrow {
        transform: rotate(90deg);
        right: 1%
    }
    .counter {
       display: none;
    }
}


@media screen and (min-width: 1024px){
    .carrousel {
        height: 350px;
        .counter {
            display: block;
            position: absolute;
            color: white;
            left: 50%;
            bottom: 1%;
            font-family: "Montserrat";
        }
        .fa-solid {
            position: absolute;
            color: white;
            font-size: 45px;
            top: 45%;
        }
    }
}
