.boxapp {
    margin: 10px 0px;
    background-color: white;
    overflow: hidden;
}

@media screen and (min-width: 768px){
    .boxapp {
        margin: 25px 0px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
}

@media screen and (min-width: 1024px){
    .boxapp {
        background: rgba(246, 246, 246, 1);
        padding: 15px 5px;
        
    }
}
