.dropdown {
    margin: 15px 0px;
    overflow: hidden;
    width: 100%;

    & .name {
        display: flex;
        justify-content: space-between;
        background-color: rgba(247, 72, 72, 1);
        color: white;
        padding: 10px;
        font-size: 18px;
        border-radius: 10px;
        position: relative;
        z-index: 2;
        h1 {
            color: white;
        }
    }

    & .content {
        color: rgb(250, 67, 67);
        background-color: rgba(128, 128, 128, 0.200);
        max-width: 100%;
        padding: 15px;
        border-radius: 10px;
        animation: dropdowntranslate 0.3s ease;
        position: relative;
        z-index: 1;
    }
}

@keyframes dropdowntranslate {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
    
}